<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/reset.css">
  <link rel="stylesheet" href="../styles/styles.css">
  <title>Microblog</title>
  <script src="../scripts/lightswitch.js" defer></script>
</head>

<body>
  <header>
    <h1>muahchee's microblog <span class="kaomoji">( ・・)つ .*･｡ﾟ</span></h1>

    <%- include("partials/error.ejs") %>


    <button class="mode-toggle" aria-label="dark mode" aria-pressed="false"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M9.598 1.591a.75.75 0 0 1 .785-.175 7.001 7.001 0 1 1-8.967 8.967.75.75 0 0 1 .961-.96 5.5 5.5 0 0 0 7.046-7.046.75.75 0 0 1 .175-.786m1.616 1.945a7 7 0 0 1-7.678 7.678 5.499 5.499 0 1 0 7.678-7.678"/></svg></button>

    <% if (locals.currentUser) {%>
      <div class="bottom">
        <a href="/logout" onclick="return confirm('Are you sure you want to log out?')">Log Out</a>
        <% if (currentUser.admin) {%>
          <p>ADMIN MODE</p>
          <% } %>
        <a href="/create">Create a Post!</a>
        </div>
      <% } else {%>
        <div class="bottom">
          <p>Coded with love by <a href="https://muahchee.net/">muahchee</a>!</p>
        </div>
      <% } %>
    

  </header>

  <main>

    <h2 class="off-screen">Feed</h2>
    <ul class="feed">

      <% if (locals.posts) {%>

      <% for (let i = posts.length-1; i > -1; i--) { %>

      <li class="post drop-shadow">
        <div class="post-cont">
          <% if (posts[i].imgfile) { %>
          <img src="../uploads/<%= posts[i].imgfile %>" alt="<%= posts[i].imgalt %>">
          <% } %>

          <div class="post-main">
            <p><%- posts[i].text %></p>
          </div>

          <p class="timestamp"><%=new Date(posts[i].timestamp).toLocaleString()%></p>

          <% if (locals.currentUser) {%>

          <% if (currentUser.admin) {%>
          <a href="/<%= posts[i].id %>/delete" onclick="return confirm('Are you sure you want to delete this post?')">Delete</a>
          <% } %>

          <% } %>
          <!-- if currentUser end -->
        </div>
      </li>

      <% } %>
      <!-- for loop end -->
      <% } %>
      <!-- if posts end -->
    </ul>

  </main>
  <footer>
    
  </footer>
</body>

</html>